/* estilos.css */
.mi-header {
  background-color: #1c9ada; /* similar a bg-dark */
  color: white !important;   /* similar a text-white */
  padding: 1rem;               /* similar a p-3 */
  position: sticky;
  top: 0;
  z-index: 1020;
}

.logo-img {
  height: 40px;
  margin-right: 0.5rem;   /*reemplaza el me-2 de bootstrap*/
}

.header-title {
  margin-bottom: 0;
  font-size: 1.25rem; /* equivalente a h5 */
}

.flex-center {
  display: flex;
  align-items: center;
}
