@media(min-width: 992px){
  .sidebar-nav{
  background-color: #20a6e9; 
  border-right: 1px solid #dee2e6; 
  height: calc(100vh - 60px);
  top:60px;
  left:0px;
  position:fixed;
  width: 200px;
  text-align: center;
  overflow-y: auto;
  scrollbar-width: none;
  z-index:1000;
  }
}

.sidebar-nav::-webkit-scrollbar {
  display:none;
}

.sidebar-nav h5 {
  padding: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #ffffff;
}

.sidebar-nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sidebar-nav a{
  border-radius : 36px 0 0 36px; 
  padding: 15px ;
}

.sidebar-nav .nav-link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: Montserrat;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-nav .nav-link:hover{
  background-color: #ffffff;
  color: #007bff;  
  text-decoration: none;
}
@media (max-width: 991.98px) {
  .sidebar-nav {
    width: 140px; 
    font-size: 0.85rem;
    display: none;
  }

  .sidebar-nav a {
    padding: 10px; 
    font-size: 0.8rem;
  }

  .sidebar-nav h5 {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
#sidebarMobile {
  background-color: #20a6e9;
  color: #ffffff;
  font-family: Montserrat;
}

#sidebarMobile .nav-link {
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 36px 0 0 36px;
  padding: 15px;
  text-decoration: none;
}

#sidebarMobile .nav-link:hover {
  background-color: #ffffff;
  color: #007bff;
  text-decoration: none;
}


#sidebarMobile .offcanvas-title {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 0.5rem 0;
}