.mi-header {
  background-color: #1c9ada;
  color: white !important;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.logo-img {
  height: 40px;
  margin-right: 0.5rem;
}

.header-title {
  margin-bottom: 0;
  font-size: 1.25rem;
}

.flex-center {
  display: flex;
  align-items: center;
}
